.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logotext {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  gap: 0.3rem;
  align-items: center;
  align-items: center;
  background-image: url("bglogo.png");
  justify-content: start;
  padding: 8px;
  /* margin-bottom: 20px; */
}
.head-content {
  padding-left: 2rem;
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
  text-decoration: none;
}

.head-link {
  color: #6949a0;
  text-decoration: none;
  font-size: 14px;
}
.body {
  font-family: cursive;
  margin-top: 7rem;
}

.headingText {
  display: flex;
  font-size: 17px;
  cursor: pointer;
  color: #6949a0;
  /* font-family: cursive; */
}
.logo-img-header {
  height: 54px;
  width: 71px;
}
.logocreates {
  box-shadow: 2px 0px 13px 4px rgba(105, 73, 160, 0.8);
  border-radius: 10px;

  /* box-shadow: 3px 4px 10px 5px rgb(217, 216, 216); */
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: 1rem;
  margin-top: 40px;
  margin-right: 30px;
  margin-left: 30px;
}
.aboutusbigdiv {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: 1rem;
  margin-top: 40px;
  margin-right: 30px;
  margin-left: 30px;
}
.logotitle {
  color: #6949a0;
  padding: 30px 30px 10px 30px;
}
.logotitleaboutus {
  color: #6949a0;
}

.logoimgdiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.logoimage {
  display: flex;
  align-self: flex-start;
  max-width: 100%;
  border-top-right-radius: 10px;
  /* border-top-left-radius: 10px; */
}
.logoimageseconedimg {
  display: flex;
  align-self: flex-start;
  max-width: 68%;
  border-top-right-radius: 10px;
}
.ending {
  box-shadow: 2px 0px 13px 4px rgba(105, 73, 160, 0.8);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-grow: 1;
  margin-top: 40px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.paragraphendingdivca {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
/* .paragraphendingdiv {
  word-wrap: break-word;
} */
.endingparagraphlist {
  padding: 30px 0 0 30px;
}
.endingparagraphca {
  padding: 0 10px 0 30px;
}
.endingparagraphcalink {
  padding: 0 0px 0 5px;
}

.endingextra {
  box-shadow: 2px 0px 13px 4px rgba(105, 73, 160, 0.8);
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-grow: 1;
  margin-top: 40px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  /* background-color: #6949a0; */
}

/* .endingimage {
  height: 20rem;
  width: 20rem;
} */
.headingending {
  color: #6949a0;
  padding: 30px 30px 10px 30px;
}

.endingparagraph {
  /* line-height: 1rem; */
  padding: 0 30px;
}

.footer {
  /* margin-bottom: 40px; */
  /* margin-right: 30px; *
  /* margin-left: 30px; */
  margin-bottom: 30px;
  border-top: 2px solid #6949a0;
  position: absolute;
  left: 0;
  right: 0;
}
.footer-headeing-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 38px;
  margin-right: 38px;
}
.twittericon {
  height: 29px;
  width: 29px;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.footerhead {
  background: linear-gradient(
    38deg,
    rgba(12, 107, 190, 1) 0%,
    rgba(105, 73, 160, 1) 44%,
    rgba(235, 144, 38, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media (max-width: 768px) {
  .head-content {
    display: flex;
    justify-content: flex-end;
  }
}

.menu-img-media {
  height: 20px;
  width: 20px;
}
.hidden-header {
  width: 33px;
  height: 3px;
  transition: background-color 0.3s ease;
  background-color: #6949a0;
  margin: 7px 0;
}
.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.endingparagraphaboutus {
  font-size: 12px;
}
.side-menu a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 22px;
  color: #6949a0;
  display: block;
  transition: 0.3s;
}

.side-menu a:hover {
  color: #f1f1f1;
}

.side-menu .closebtn {
  position: absolute;
  top: 0px;
  right: 2px;
  font-size: 36px;
}
.items {
  display: flex;
  padding-left: 3rem;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 500px) {
  .logotext {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .headingText {
    display: none;
  }
  .head-content {
    display: none;
  }
  .hidden-header {
    display: flex;
  }
  .menu-img-media {
    display: flex;
    height: 30px;
    width: 30px;
    align-self: center;
  }
  .footerhead {
    font-size: medium;
  }
  .twittericon {
    height: 17px;
    width: 17px;
  }
  .logoimage {
    display: flex;
    align-self: flex-start;
    max-width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .logoimageseconedimg {
    display: flex;
    align-self: flex-start;
    max-width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .endingparagraph {
    padding: 7px 7px;
    margin: 0px 0px;
    font-size: 11px;
  }
  .endingparagraphaboutus {
    font-size: 11px;
  }

  .endingparagraphca {
    padding: 7px 7px;
    margin: 0px 0px;
    font-size: 11px;
  }
  .endingparagraphcalink {
    padding: 7px 7px;
    margin: 0px 0px;
    font-size: 11px;
  }

  .aboutusbigdiv {
    display: flex;
    flex-direction: column-reverse;
  }

  .endingparagraphlist {
    padding: 7px 7px;
    font-size: 11px;
    margin: 0;
  }
  .logocreates {
    display: flex;
    flex-direction: column-reverse;
  }
  .logotitlehidden {
    display: flex;
    color: #6949a0;
    justify-content: center;
    font-size: medium;
  }
  .logotitleaboutus {
    display: none;
  }
  .logotitle {
    display: none;
  }

  .items {
    display: flex;
    padding-left: 21px;
    gap: 1rem;
    font-size: 11px;
    flex-direction: column;
    justify-content: space-between;
  }

  .ending {
    display: flex;
    flex-direction: column-reverse;
  }
  .headingending {
    display: flex;
    justify-content: center;
    font-size: medium;
    padding: 0;
  }
}

.micro-paragraph {
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  /* margin-left: 70px;
  margin-top: 30px; */
  line-height: 1.5;
  color: #6949a0;
  padding: 30px 30px 10px 30px;
}
